@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-office, .icon-newspaper, .icon-pencil, .icon-pencil-2, .icon-image, .icon-images, .icon-images-2, .icon-camera, .icon-music, .icon-music-2, .icon-music-3, .icon-headphones, .icon-film, .icon-camera-2, .icon-gamepad, .icon-bullhorn, .icon-new, .icon-connection, .icon-mic, .icon-mic-2, .icon-radio, .icon-book, .icon-book-2, .icon-books, .icon-reading, .icon-library, .icon-graduation, .icon-file, .icon-copy, .icon-stack, .icon-folder-upload, .icon-folder-download, .icon-folder, .icon-folder-plus, .icon-folder-minus, .icon-folder8, .icon-folder-remove, .icon-cc, .icon-tag, .icon-tag-2, .icon-qrcode, .icon-cart, .icon-credit, .icon-credit-2, .icon-calculate, .icon-support, .icon-phone, .icon-address-book, .icon-envelop, .icon-envelop-opened, .icon-location, .icon-compass, .icon-map, .icon-map-2, .icon-clock, .icon-bell, .icon-alarm-plus, .icon-alarm-minus, .icon-alarm-check, .icon-alarm-cancel, .icon-stopwatch, .icon-print, .icon-mouse, .icon-keyboard, .icon-tablet, .icon-tv, .icon-disk, .icon-cd, .icon-storage, .icon-database, .icon-database-2, .icon-quotes-left, .icon-quotes-right, .icon-vcard, .icon-busy, .icon-spinner, .icon-binoculars, .icon-search, .icon-expand, .icon-contract, .icon-key, .icon-key-2, .icon-wrench, .icon-wrench-2, .icon-settings, .icon-equalizer, .icon-cog, .icon-cogs, .icon-wand, .icon-health, .icon-aid, .icon-stats-down, .icon-stats-up, .icon-gift, .icon-gift-2, .icon-medal, .icon-trophy, .icon-meter, .icon-meter-slow, .icon-meter-fast, .icon-bomb, .icon-fire, .icon-atom, .icon-lamp, .icon-skull, .icon-remove, .icon-briefcase, .icon-paper-plane, .icon-puzzle, .icon-puzzle-2, .icon-accessibility, .icon-brain, .icon-target, .icon-shield, .icon-switch, .icon-power-cord, .icon-lightning, .icon-clipboard, .icon-clipboard-2, .icon-list, .icon-list-2, .icon-list-3, .icon-numbered-list, .icon-grid, .icon-tree, .icon-tree-2, .icon-menu, .icon-menu-2, .icon-cloud, .icon-cloud-2, .icon-cloud-download, .icon-cloud-upload, .icon-download, .icon-upload, .icon-earth, .icon-globe, .icon-link, .icon-link-2, .icon-network, .icon-anchor, .icon-attachment, .icon-flag, .icon-eye, .icon-eye-blocked, .icon-bookmark, .icon-bookmark-2, .icon-bookmarks, .icon-bookmark-3, .icon-starburst, .icon-temperature, .icon-sun, .icon-heart-broken, .icon-heart, .icon-heart-2, .icon-bed, .icon-star, .icon-star-2, .icon-star-3, .icon-cursor, .icon-cursor-2, .icon-stack-empty, .icon-stack-plus, .icon-stack-minus, .icon-stack-user, .icon-warning, .icon-warning-2, .icon-plus-circle, .icon-minus-circle, .icon-minus-circle-2, .icon-plus-circle-2, .icon-blocked, .icon-info, .icon-checkmark, .icon-checkmark-2, .icon-minus, .icon-plus, .icon-enter, .icon-exit, .icon-cancel-circle, .icon-cancel-circle-2, .icon-play, .icon-pause, .icon-stop, .icon-backward, .icon-forward, .icon-play-2, .icon-eject, .icon-volume-high, .icon-volume-medium, .icon-volume-low, .icon-volume-mute, .icon-loop, .icon-arrow-up, .icon-arrow-right, .icon-arrow-down, .icon-arrow-left, .icon-arrow-up-2, .icon-arrow-right-2, .icon-arrow-down-2, .icon-arrow-left-2, .icon-arrow-up-3, .icon-arrow-right-3, .icon-arrow-down-3, .icon-arrow-left-3, .icon-menu-3, .icon-backspace, .icon-backspace-2, .icon-command, .icon-checkbox-unchecked, .icon-checkbox-checked, .icon-scissors, .icon-code, .icon-console, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-instagram, .icon-twitter-2, .icon-google-plus-2, .icon-vimeo2, .icon-vimeo, .icon-feed, .icon-feed-2, .icon-flickr, .icon-flickr-2, .icon-github, .icon-github-2, .icon-github-3, .icon-github-4, .icon-apple, .icon-finder, .icon-android, .icon-windows, .icon-windows8, .icon-soundcloud, .icon-soundcloud-2, .icon-pinterest, .icon-linkedin, .icon-paypal, .icon-css3, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-html5, .icon-html5-2, .icon-paypal-2, .icon-file-pdf, .icon-file-openoffice, .icon-file-word, .icon-file-excel, .icon-file-zip, .icon-file-powerpoint, .icon-file-xml, .icon-file-css, .icon-number, .icon-number-2, .icon-number-3, .icon-number-4, .icon-number-5, .icon-number-6, .icon-number-7, .icon-number-8, .icon-number-9, .icon-number-10, .icon-number-11, .icon-number-12, .icon-number-13, .icon-number-14, .icon-number-15, .icon-number-16, .icon-number-17, .icon-number-18, .icon-number-19, .icon-number-20, .icon-calendar, .icon-alarm-clock, .icon-chronometer, .icon-headphones-2, .icon-quote, .icon-quote-2, .icon-tools, .icon-retweet, .icon-safe, .icon-cw, .icon-ccw, .icon-cycle, .icon-evernote, .icon-bar-chart, .icon-thumbs-up, .icon-thumbs-down, .icon-facebook-2, .icon-calendar-empty, .icon-trello, .icon-moon, .icon-sun-2, .icon-rocket, .icon-chart, .icon-desktop, .icon-multi-iphone-portrait, .icon-multi-iphone-landscape, .icon-multi-ipad-portrait, .icon-multi-ipad-landscape, .icon-lock-side, .icon-lock-open, .icon-lock-closed, .icon-iphone-portrait, .icon-iphone-landscape, .icon-ipad-portrait, .icon-ipad-landscape, .icon-girl-figure, .icon-man-figure, .icon-checklist-check, .icon-filter-shield, .icon-bubble, .icon-bubbles, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-bubble-notification, .icon-wordpress, .icon-wordpress-2, .icon-skype, .icon-user-cancel, .icon-user-minus, .icon-user-plus, .icon-users, .icon-user, .icon-user-block, .icon-youtube1, .icon-youtube2, .icon-getsat, .icon-user-2, .icon-cross, .icon-group, .icon-family, .icon-30-day, .icon-arrow-up-left, .icon-arrow-up-4, .icon-arrow-up-right, .icon-arrow-right-4, .icon-arrow-down-right, .icon-arrow-down-4, .icon-arrow-down-left, .icon-arrow-left-4 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-office:before {
	content: "\e001";
}
.icon-newspaper:before {
	content: "\e002";
}
.icon-pencil:before {
	content: "\e003";
}
.icon-pencil-2:before {
	content: "\e004";
}
.icon-image:before {
	content: "\e005";
}
.icon-images:before {
	content: "\e006";
}
.icon-images-2:before {
	content: "\e007";
}
.icon-camera:before {
	content: "\e008";
}
.icon-music:before {
	content: "\e009";
}
.icon-music-2:before {
	content: "\e00a";
}
.icon-music-3:before {
	content: "\e00b";
}
.icon-headphones:before {
	content: "\e00c";
}
.icon-film:before {
	content: "\e00d";
}
.icon-camera-2:before {
	content: "\e00e";
}
.icon-gamepad:before {
	content: "\e00f";
}
.icon-bullhorn:before {
	content: "\e010";
}
.icon-new:before {
	content: "\e011";
}
.icon-connection:before {
	content: "\e012";
}
.icon-mic:before {
	content: "\e013";
}
.icon-mic-2:before {
	content: "\e014";
}
.icon-radio:before {
	content: "\e015";
}
.icon-book:before {
	content: "\e016";
}
.icon-book-2:before {
	content: "\e017";
}
.icon-books:before {
	content: "\e018";
}
.icon-reading:before {
	content: "\e019";
}
.icon-library:before {
	content: "\e01a";
}
.icon-graduation:before {
	content: "\e01b";
}
.icon-file:before {
	content: "\e01c";
}
.icon-copy:before {
	content: "\e01d";
}
.icon-stack:before {
	content: "\e01e";
}
.icon-folder-upload:before {
	content: "\e01f";
}
.icon-folder-download:before {
	content: "\e020";
}
.icon-folder:before {
	content: "\e021";
}
.icon-folder-plus:before {
	content: "\e022";
}
.icon-folder-minus:before {
	content: "\e023";
}
.icon-folder8:before {
	content: "\e024";
}
.icon-folder-remove:before {
	content: "\e025";
}
.icon-cc:before {
	content: "\e026";
}
.icon-tag:before {
	content: "\e027";
}
.icon-tag-2:before {
	content: "\e028";
}
.icon-qrcode:before {
	content: "\e029";
}
.icon-cart:before {
	content: "\e02a";
}
.icon-credit:before {
	content: "\e02b";
}
.icon-credit-2:before {
	content: "\e02c";
}
.icon-calculate:before {
	content: "\e02d";
}
.icon-support:before {
	content: "\e02e";
}
.icon-phone:before {
	content: "\e02f";
}
.icon-address-book:before {
	content: "\e030";
}
.icon-envelop:before {
	content: "\e031";
}
.icon-envelop-opened:before {
	content: "\e032";
}
.icon-location:before {
	content: "\e033";
}
.icon-compass:before {
	content: "\e034";
}
.icon-map:before {
	content: "\e035";
}
.icon-map-2:before {
	content: "\e036";
}
.icon-clock:before {
	content: "\e037";
}
.icon-bell:before {
	content: "\e038";
}
.icon-alarm-plus:before {
	content: "\e039";
}
.icon-alarm-minus:before {
	content: "\e03a";
}
.icon-alarm-check:before {
	content: "\e03b";
}
.icon-alarm-cancel:before {
	content: "\e03c";
}
.icon-stopwatch:before {
	content: "\e03d";
}
.icon-print:before {
	content: "\e03e";
}
.icon-mouse:before {
	content: "\e03f";
}
.icon-keyboard:before {
	content: "\e040";
}
.icon-tablet:before {
	content: "\e041";
}
.icon-tv:before {
	content: "\e042";
}
.icon-disk:before {
	content: "\e043";
}
.icon-cd:before {
	content: "\e044";
}
.icon-storage:before {
	content: "\e045";
}
.icon-database:before {
	content: "\e046";
}
.icon-database-2:before {
	content: "\e047";
}
.icon-quotes-left:before {
	content: "\e04a";
}
.icon-quotes-right:before {
	content: "\e04b";
}
.icon-vcard:before {
	content: "\e04c";
}
.icon-busy:before {
	content: "\e04d";
}
.icon-spinner:before {
	content: "\e04e";
}
.icon-binoculars:before {
	content: "\e04f";
}
.icon-search:before {
	content: "\e050";
}
.icon-expand:before {
	content: "\e051";
}
.icon-contract:before {
	content: "\e052";
}
.icon-key:before {
	content: "\e053";
}
.icon-key-2:before {
	content: "\e054";
}
.icon-wrench:before {
	content: "\e055";
}
.icon-wrench-2:before {
	content: "\e056";
}
.icon-settings:before {
	content: "\e057";
}
.icon-equalizer:before {
	content: "\e058";
}
.icon-cog:before {
	content: "\e059";
}
.icon-cogs:before {
	content: "\e05a";
}
.icon-wand:before {
	content: "\e05b";
}
.icon-health:before {
	content: "\e05c";
}
.icon-aid:before {
	content: "\e05d";
}
.icon-stats-down:before {
	content: "\e05e";
}
.icon-stats-up:before {
	content: "\e05f";
}
.icon-gift:before {
	content: "\e060";
}
.icon-gift-2:before {
	content: "\e061";
}
.icon-medal:before {
	content: "\e062";
}
.icon-trophy:before {
	content: "\e063";
}
.icon-meter:before {
	content: "\e064";
}
.icon-meter-slow:before {
	content: "\e065";
}
.icon-meter-fast:before {
	content: "\e066";
}
.icon-bomb:before {
	content: "\e067";
}
.icon-fire:before {
	content: "\e068";
}
.icon-atom:before {
	content: "\e069";
}
.icon-lamp:before {
	content: "\e06a";
}
.icon-skull:before {
	content: "\e06b";
}
.icon-remove:before {
	content: "\e06c";
}
.icon-briefcase:before {
	content: "\e06d";
}
.icon-paper-plane:before {
	content: "\e06e";
}
.icon-puzzle:before {
	content: "\e06f";
}
.icon-puzzle-2:before {
	content: "\e070";
}
.icon-accessibility:before {
	content: "\e071";
}
.icon-brain:before {
	content: "\e072";
}
.icon-target:before {
	content: "\e073";
}
.icon-shield:before {
	content: "\e074";
}
.icon-switch:before {
	content: "\e075";
}
.icon-power-cord:before {
	content: "\e076";
}
.icon-lightning:before {
	content: "\e077";
}
.icon-clipboard:before {
	content: "\e078";
}
.icon-clipboard-2:before {
	content: "\e079";
}
.icon-list:before {
	content: "\e07a";
}
.icon-list-2:before {
	content: "\e07b";
}
.icon-list-3:before {
	content: "\e07c";
}
.icon-numbered-list:before {
	content: "\e07d";
}
.icon-grid:before {
	content: "\e07e";
}
.icon-tree:before {
	content: "\e07f";
}
.icon-tree-2:before {
	content: "\e080";
}
.icon-menu:before {
	content: "\e081";
}
.icon-menu-2:before {
	content: "\e082";
}
.icon-cloud:before {
	content: "\e083";
}
.icon-cloud-2:before {
	content: "\e084";
}
.icon-cloud-download:before {
	content: "\e085";
}
.icon-cloud-upload:before {
	content: "\e086";
}
.icon-download:before {
	content: "\e087";
}
.icon-upload:before {
	content: "\e088";
}
.icon-earth:before {
	content: "\e089";
}
.icon-globe:before {
	content: "\e08a";
}
.icon-link:before {
	content: "\e08b";
}
.icon-link-2:before {
	content: "\e08c";
}
.icon-network:before {
	content: "\e08d";
}
.icon-anchor:before {
	content: "\e08e";
}
.icon-attachment:before {
	content: "\e08f";
}
.icon-flag:before {
	content: "\e090";
}
.icon-eye:before {
	content: "\e091";
}
.icon-eye-blocked:before {
	content: "\e092";
}
.icon-bookmark:before {
	content: "\e093";
}
.icon-bookmark-2:before {
	content: "\e094";
}
.icon-bookmarks:before {
	content: "\e095";
}
.icon-bookmark-3:before {
	content: "\e096";
}
.icon-starburst:before {
	content: "\e097";
}
.icon-temperature:before {
	content: "\e098";
}
.icon-sun:before {
	content: "\e099";
}
.icon-heart-broken:before {
	content: "\e09a";
}
.icon-heart:before {
	content: "\e09b";
}
.icon-heart-2:before {
	content: "\e09c";
}
.icon-bed:before {
	content: "\e09d";
}
.icon-star:before {
	content: "\e09e";
}
.icon-star-2:before {
	content: "\e09f";
}
.icon-star-3:before {
	content: "\e0a0";
}
.icon-cursor:before {
	content: "\e0a1";
}
.icon-cursor-2:before {
	content: "\e0a2";
}
.icon-stack-empty:before {
	content: "\e0a3";
}
.icon-stack-plus:before {
	content: "\e0a4";
}
.icon-stack-minus:before {
	content: "\e0a5";
}
.icon-stack-user:before {
	content: "\e0a6";
}
.icon-warning:before {
	content: "\e0a7";
}
.icon-warning-2:before {
	content: "\e0a8";
}
.icon-plus-circle:before {
	content: "\e0a9";
}
.icon-minus-circle:before {
	content: "\e0aa";
}
.icon-minus-circle-2:before {
	content: "\e0ab";
}
.icon-plus-circle-2:before {
	content: "\e0ac";
}
.icon-blocked:before {
	content: "\e0ad";
}
.icon-info:before {
	content: "\e0ae";
}
.icon-checkmark:before {
	content: "\e0af";
}
.icon-checkmark-2:before {
	content: "\e0b0";
}
.icon-minus:before {
	content: "\e0b1";
}
.icon-plus:before {
	content: "\e0b2";
}
.icon-enter:before {
	content: "\e0b3";
}
.icon-exit:before {
	content: "\e0b4";
}
.icon-cancel-circle:before {
	content: "\e0b5";
}
.icon-cancel-circle-2:before {
	content: "\e0b6";
}
.icon-play:before {
	content: "\e0b7";
}
.icon-pause:before {
	content: "\e0b8";
}
.icon-stop:before {
	content: "\e0b9";
}
.icon-backward:before {
	content: "\e0ba";
}
.icon-forward:before {
	content: "\e0bb";
}
.icon-play-2:before {
	content: "\e0bc";
}
.icon-eject:before {
	content: "\e0bd";
}
.icon-volume-high:before {
	content: "\e0be";
}
.icon-volume-medium:before {
	content: "\e0bf";
}
.icon-volume-low:before {
	content: "\e0c0";
}
.icon-volume-mute:before {
	content: "\e0c1";
}
.icon-loop:before {
	content: "\e0c2";
}
.icon-arrow-up:before {
	content: "\e0c3";
}
.icon-arrow-right:before {
	content: "\e0c4";
}
.icon-arrow-down:before {
	content: "\e0c5";
}
.icon-arrow-left:before {
	content: "\e0c6";
}
.icon-arrow-up-2:before {
	content: "\e0c7";
}
.icon-arrow-right-2:before {
	content: "\e0c8";
}
.icon-arrow-down-2:before {
	content: "\e0c9";
}
.icon-arrow-left-2:before {
	content: "\e0ca";
}
.icon-arrow-up-3:before {
	content: "\e0cb";
}
.icon-arrow-right-3:before {
	content: "\e0cc";
}
.icon-arrow-down-3:before {
	content: "\e0cd";
}
.icon-arrow-left-3:before {
	content: "\e0ce";
}
.icon-menu-3:before {
	content: "\e0cf";
}
.icon-backspace:before {
	content: "\e0d0";
}
.icon-backspace-2:before {
	content: "\e0d1";
}
.icon-command:before {
	content: "\e0d2";
}
.icon-checkbox-unchecked:before {
	content: "\e0d3";
}
.icon-checkbox-checked:before {
	content: "\e0d4";
}
.icon-scissors:before {
	content: "\e0d5";
}
.icon-code:before {
	content: "\e0d6";
}
.icon-console:before {
	content: "\e0d7";
}
.icon-google-plus:before {
	content: "\e0d8";
}
.icon-facebook:before {
	content: "\e0d9";
}
.icon-twitter:before {
	content: "\e0da";
}
.icon-instagram:before {
	content: "\e0db";
}
.icon-twitter-2:before {
	content: "\e0dc";
}
.icon-google-plus-2:before {
	content: "\e0dd";
}
.icon-vimeo2:before {
	content: "\e0de";
}
.icon-vimeo:before {
	content: "\e0df";
}
.icon-feed:before {
	content: "\e0e0";
}
.icon-feed-2:before {
	content: "\e0e1";
}
.icon-flickr:before {
	content: "\e0e2";
}
.icon-flickr-2:before {
	content: "\e0e3";
}
.icon-github:before {
	content: "\e0e4";
}
.icon-github-2:before {
	content: "\e0e5";
}
.icon-github-3:before {
	content: "\e0e6";
}
.icon-github-4:before {
	content: "\e0e7";
}
.icon-apple:before {
	content: "\e0e8";
}
.icon-finder:before {
	content: "\e0e9";
}
.icon-android:before {
	content: "\e0ea";
}
.icon-windows:before {
	content: "\e0eb";
}
.icon-windows8:before {
	content: "\e0ec";
}
.icon-soundcloud:before {
	content: "\e0ed";
}
.icon-soundcloud-2:before {
	content: "\e0ee";
}
.icon-pinterest:before {
	content: "\e0ef";
}
.icon-linkedin:before {
	content: "\e0f0";
}
.icon-paypal:before {
	content: "\e0f1";
}
.icon-css3:before {
	content: "\e0f2";
}
.icon-chrome:before {
	content: "\e0f3";
}
.icon-firefox:before {
	content: "\e0f4";
}
.icon-IE:before {
	content: "\e0f5";
}
.icon-opera:before {
	content: "\e0f6";
}
.icon-safari:before {
	content: "\e0f7";
}
.icon-html5:before {
	content: "\e0f8";
}
.icon-html5-2:before {
	content: "\e0f9";
}
.icon-paypal-2:before {
	content: "\e0fa";
}
.icon-file-pdf:before {
	content: "\e0fb";
}
.icon-file-openoffice:before {
	content: "\e0fc";
}
.icon-file-word:before {
	content: "\e0fd";
}
.icon-file-excel:before {
	content: "\e0fe";
}
.icon-file-zip:before {
	content: "\e0ff";
}
.icon-file-powerpoint:before {
	content: "\e100";
}
.icon-file-xml:before {
	content: "\e101";
}
.icon-file-css:before {
	content: "\e102";
}
.icon-number:before {
	content: "\e103";
}
.icon-number-2:before {
	content: "\e104";
}
.icon-number-3:before {
	content: "\e105";
}
.icon-number-4:before {
	content: "\e106";
}
.icon-number-5:before {
	content: "\e107";
}
.icon-number-6:before {
	content: "\e108";
}
.icon-number-7:before {
	content: "\e109";
}
.icon-number-8:before {
	content: "\e10a";
}
.icon-number-9:before {
	content: "\e10b";
}
.icon-number-10:before {
	content: "\e10c";
}
.icon-number-11:before {
	content: "\e10d";
}
.icon-number-12:before {
	content: "\e10e";
}
.icon-number-13:before {
	content: "\e10f";
}
.icon-number-14:before {
	content: "\e110";
}
.icon-number-15:before {
	content: "\e111";
}
.icon-number-16:before {
	content: "\e112";
}
.icon-number-17:before {
	content: "\e113";
}
.icon-number-18:before {
	content: "\e114";
}
.icon-number-19:before {
	content: "\e115";
}
.icon-number-20:before {
	content: "\e116";
}
.icon-calendar:before {
	content: "\e117";
}
.icon-alarm-clock:before {
	content: "\e118";
}
.icon-chronometer:before {
	content: "\e119";
}
.icon-headphones-2:before {
	content: "\e11a";
}
.icon-quote:before {
	content: "\e11b";
}
.icon-quote-2:before {
	content: "\e11c";
}
.icon-tools:before {
	content: "\e11d";
}
.icon-retweet:before {
	content: "\e11e";
}
.icon-safe:before {
	content: "\e11f";
}
.icon-cw:before {
	content: "\e120";
}
.icon-ccw:before {
	content: "\e121";
}
.icon-cycle:before {
	content: "\e122";
}
.icon-evernote:before {
	content: "\e123";
}
.icon-bar-chart:before {
	content: "\e124";
}
.icon-thumbs-up:before {
	content: "\e125";
}
.icon-thumbs-down:before {
	content: "\e126";
}
.icon-facebook-2:before {
	content: "\e127";
}
.icon-calendar-empty:before {
	content: "\e128";
}
.icon-trello:before {
	content: "\e12b";
}
.icon-moon:before {
	content: "\e12c";
}
.icon-sun-2:before {
	content: "\e12d";
}
.icon-rocket:before {
	content: "\e12e";
}
.icon-chart:before {
	content: "\e12f";
}
.icon-desktop:before {
	content: "\e130";
}
.icon-multi-iphone-portrait:before {
	content: "\e131";
}
.icon-multi-iphone-landscape:before {
	content: "\e132";
}
.icon-multi-ipad-portrait:before {
	content: "\e133";
}
.icon-multi-ipad-landscape:before {
	content: "\e134";
}
.icon-lock-side:before {
	content: "\e135";
}
.icon-lock-open:before {
	content: "\e136";
}
.icon-lock-closed:before {
	content: "\e137";
}
.icon-iphone-portrait:before {
	content: "\e138";
}
.icon-iphone-landscape:before {
	content: "\e139";
}
.icon-ipad-portrait:before {
	content: "\e13a";
}
.icon-ipad-landscape:before {
	content: "\e13b";
}
.icon-girl-figure:before {
	content: "\e13c";
}
.icon-man-figure:before {
	content: "\e13d";
}
.icon-checklist-check:before {
	content: "\e13e";
}
.icon-filter-shield:before {
	content: "\e13f";
}
.icon-bubble:before {
	content: "\e140";
}
.icon-bubbles:before {
	content: "\e141";
}
.icon-bubbles-2:before {
	content: "\e142";
}
.icon-bubble-2:before {
	content: "\e143";
}
.icon-bubbles-3:before {
	content: "\e144";
}
.icon-bubbles-4:before {
	content: "\e145";
}
.icon-bubble-notification:before {
	content: "\e146";
}
.icon-wordpress:before {
	content: "\e14e";
}
.icon-wordpress-2:before {
	content: "\e14f";
}
.icon-skype:before {
	content: "\e150";
}
.icon-user-cancel:before {
	content: "\e152";
}
.icon-user-minus:before {
	content: "\e153";
}
.icon-user-plus:before {
	content: "\e154";
}
.icon-users:before {
	content: "\e155";
}
.icon-user:before {
	content: "\e156";
}
.icon-user-block:before {
	content: "\e157";
}
.icon-youtube1:before {
	content: "\e158";
}
.icon-youtube2:before {
	content: "\e159";
}
.icon-getsat:before {
	content: "\e129";
}
.icon-user-2:before {
	content: "\e048";
}
.icon-cross:before {
	content: "\e049";
}
.icon-group:before {
	content: "\e12a";
}
.icon-family:before {
	content: "\e147";
}
.icon-30-day:before {
	content: "\e148";
}
.icon-arrow-up-left:before {
	content: "\e149";
}
.icon-arrow-up-4:before {
	content: "\e14a";
}
.icon-arrow-up-right:before {
	content: "\e14b";
}
.icon-arrow-right-4:before {
	content: "\e14c";
}
.icon-arrow-down-right:before {
	content: "\e14d";
}
.icon-arrow-down-4:before {
	content: "\e151";
}
.icon-arrow-down-left:before {
	content: "\e15a";
}
.icon-arrow-left-4:before {
	content: "\e15b";
}
